In [1]:
import pandas as pd
import re

In [2]:
file1_path='W62438752_results.xlsx'
file2_path='W62438828_results.xlsx'

In [3]:
data1=pd.read_excel(file1_path)
data2=pd.read_excel(file2_path)

In [4]:
string1=re.findall(pattern='\d+(?=_)',string=file1_path)[0]
string2=re.findall(pattern='\d+(?=_)',string=file2_path)[0]

In [6]:
string2

'62438828'

In [11]:
#cols=[a for a in data3.columns if a not in  ['#Chr', 'Start', 'End', 'Ref', 'Alt']]
#a='*'+string3

In [12]:
#a

'*1087820'

In [13]:
#data3.columns = ['{}{}'.format(c, str(a) if c in cols else '') for c in data3.columns]

In [14]:
#data3

,#Chr,Start,End,Ref,Alt,GATK_GT*1087820,VarScan GT*1087820,Ref.Gene*1087820,Feature_ID*1087820,HGVS*1087820,...,Interpro_domain*1087820,rmsk*1087820,MetaSVM_score*1087820,Freq_gnomAD_genome_POPs*1087820,OMIM*1087820,Phenotypes*1087820,Orpha*1087820,Varscan Freq*1087820,Varscan DP*1087820,Lab_Frequency*1087820
0,chr1,1043224,1043225,CT,-,het,het,AGRN,"NM_001305275.2,NM_198576.4,NM_001364727.2","c.1385-15_1385-14delCT,c.1385-15_1385-14delCT,...",...,.,.,.,"AFR:0.1058,AMR:0.6782,EAS:0.7662,FIN:0.5336,NF...",103320,"Myasthenic syndrome, congenital, 8, with pre- ...",590|Congenital myasthenic syndrome|1-9 / 1 000...,41.67%,72.0,195
1,chr1,1387764,1387765,CT,-,hom,hom,CCNL2,"NM_001039577.4,NM_030937.6,NM_001350497.1,NM_0...","c.*5017_*5018delAG,c.1211+12_1211+13delAG,c.54...",...,.,.,.,"AFR:0.2700,AMR:0.3918,EAS:0.0191,FIN:0.7160,NF...",613482,NaN,NaN,100%,87.0,219
2,chr1,1420962,1420964,TCC,-,het,het,ANKRD65,"NM_001145210.2,NM_001243535.2,NM_001243536.2","c.42_44delGGA,c.42_44delGGA,c.42_44delGGA",...,.,Name=(TCC)n,.,"AFR:0.0007,AMR:0,EAS:0,FIN:0,NFE:0.0017,OTH:0,...",.,NaN,NaN,36.7%,109.0,6
3,chr1,1629573,1629573,G,-,het,het,MIB2,"NM_006983.2,NR_002946.1,NM_080875.3,NM_0011706...","c.-2646delG,n.-3207delG,c.2737+12delG,c.2713+1...",...,.,.,.,"AFR:0.0665,AMR:0.1902,EAS:0.0752,FIN:0.3436,NF...",611141,NaN,NaN,47.06%,102.0,119
4,chr1,1708856,1708864,TCCTCCTCC,-,het,het,CDK11A,"NM_001313896.2,NM_001313982.2,NM_024011.4,NM_0...","c.942_950delGGAGGAGGA,c.930_938delGGAGGAGGA,c....",...,.,Name=(CTC)n,.,"AFR:0.0036,AMR:0,EAS:0,FIN:0,NFE:0.0029,OTH:0,...",116951,NaN,NaN,25.26%,95.0,242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35646,chrY,22513968,22513968,T,C,NaN,het,PRY2,NaN,NaN,...,.,.,.,"AFR:.,AMR:.,EAS:.,FIN:.,NFE:.,OTH:.,ASJ:.",400041,NaN,NaN,26.09%,69.0,34
35647,chrY,24047308,24047308,G,A,NaN,hom,CDY1,NaN,NaN,...,.,.,.,"AFR:.,AMR:.,EAS:.,FIN:.,NFE:.,OTH:.,ASJ:.",400016,NaN,NaN,100%,71.0,41
35648,chrY,24047308,24047308,G,A,NaN,hom,CDY1B,NaN,NaN,...,.,.,.,"AFR:.,AMR:.,EAS:.,FIN:.,NFE:.,OTH:.,ASJ:.",.,NaN,NaN,100%,71.0,41
35649,chrY,25622823,25622823,C,T,NaN,hom,CDY1,NaN,NaN,...,.,.,.,"AFR:.,AMR:.,EAS:.,FIN:.,NFE:.,OTH:.,ASJ:.",400016,NaN,NaN,100%,56.0,41
35650,chrY,25622823,25622823,C,T,NaN,hom,CDY1B,NaN,NaN,...,.,.,.,"AFR:.,AMR:.,EAS:.,FIN:.,NFE:.,OTH:.,ASJ:.",.,NaN,NaN,100%,56.0,41

In [7]:
data_duo=pd.merge(data1,data2, on=['#Chr','Start','End','Ref','Alt'],how='outer',suffixes=('*'+string1,'*'+string2))

In [8]:
data_duo

,#Chr,Start,End,Ref,Alt,GATK_GT*62438752,VarScan GT*62438752,Ref.Gene*62438752,Feature_ID*62438752,HGVS*62438752,...,Interpro_domain*62438828,rmsk*62438828,MetaSVM_score*62438828,Freq_gnomAD_genome_POPs*62438828,OMIM*62438828,Phenotypes*62438828,Orpha*62438828,Varscan Freq*62438828,Varscan DP*62438828,Lab_Frequency*62438828
0,chr1,1387764,1387765,CT,-,hom,hom,CCNL2,"NM_001039577.4,NM_030937.6,NM_001350497.1,NM_0...","c.*5017_*5018delAG,c.1211+12_1211+13delAG,c.54...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chr1,1420962,1420964,TCC,-,het,het,ANKRD65,"NM_001145210.2,NM_001243535.2,NM_001243536.2","c.42_44delGGA,c.42_44delGGA,c.42_44delGGA",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chr1,1629573,1629573,G,-,het,het,MIB2,"NM_006983.2,NR_002946.1,NM_080875.3,NM_0011706...","c.-2646delG,n.-3207delG,c.2737+12delG,c.2713+1...",...,.,.,.,"AFR:0.0665,AMR:0.1902,EAS:0.0752,FIN:0.3436,NF...",611141,NaN,NaN,50%,42.0,122.0
3,chr1,1708856,1708864,TCCTCCTCC,-,het,NaN,CDK11A,"NM_001313896.2,NM_001313982.2,NM_024011.4,NM_0...","c.942_950delGGAGGAGGA,c.930_938delGGAGGAGGA,c....",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,chr1,1752908,1752908,-,CCT,het,het,NADK,"NM_001198994.2,NM_001198995.1,NM_001353642.2,N...","c.1769_1771dupAGG,c.1238_1240dupAGG,c.1073_107...",...,.,.,.,"AFR:0.1645,AMR:0.5595,EAS:0.3660,FIN:0.4565,NF...",611616,NaN,NaN,60.71%,28.0,170.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41599,chrX,119649918,119649918,G,A,NaN,NaN,NaN,NaN,NaN,...,.,.,.,"AFR:0.6212,AMR:0.1361,EAS:0.0325,FIN:0.1091,NF...",300683,NaN,NaN,100%,12.0,62.0
41600,chrX,135794961,135794961,G,A,NaN,NaN,NaN,NaN,NaN,...,.,.,.,"AFR:.,AMR:.,EAS:.,FIN:.,NFE:.,OTH:.,ASJ:.",300796,NaN,NaN,100%,11.0,49.0
41601,chrX,135794961,135794961,G,A,NaN,NaN,NaN,NaN,NaN,...,.,.,.,"AFR:.,AMR:.,EAS:.,FIN:.,NFE:.,OTH:.,ASJ:.",300797,NaN,NaN,100%,11.0,49.0
41602,chrX,135794961,135794961,G,A,NaN,NaN,NaN,NaN,NaN,...,.,.,.,"AFR:.,AMR:.,EAS:.,FIN:.,NFE:.,OTH:.,ASJ:.",.,NaN,NaN,100%,11.0,49.0
41603,chrX,141906140,141906140,C,G,NaN,NaN,NaN,NaN,NaN,...,.,.,-0.997,"AFR:0.0107,AMR:0.0116,EAS:0.0033,FIN:0.0382,NF...",300223,NaN,NaN,44.44%,18.0,51.0

In [9]:
col=sorted(data_duo.columns,key=lambda x: data1.columns.get_loc(x.split('*')[0]))

In [10]:
col

['#Chr',
 'Start',
 'End',
 'Ref',
 'Alt',
 'GATK_GT*62438752',
 'GATK_GT*62438828',
 'VarScan GT*62438752',
 'VarScan GT*62438828',
 'Ref.Gene*62438752',
 'Ref.Gene*62438828',
 'Feature_ID*62438752',
 'Feature_ID*62438828',
 'HGVS*62438752',
 'HGVS*62438828',
 'Func.refGene*62438752',
 'Func.refGene*62438828',
 'ExonicFunc.refGene*62438752',
 'ExonicFunc.refGene*62438828',
 'avsnp147*62438752',
 'avsnp147*62438828',
 'AAChange.refGene*62438752',
 'AAChange.refGene*62438828',
 'clinvar: Clinvar*62438752',
 'clinvar: Clinvar*62438828',
 'InterVar: InterVar and Evidence*62438752',
 'InterVar: InterVar and Evidence*62438828',
 'Freq_gnomAD_genome_ALL*62438752',
 'Freq_gnomAD_genome_ALL*62438828',
 'Freq_esp6500siv2_all*62438752',
 'Freq_esp6500siv2_all*62438828',
 'Freq_1000g2015aug_all*62438752',
 'Freq_1000g2015aug_all*62438828',
 'CADD_raw*62438752',
 'CADD_raw*62438828',
 'CADD_phred*62438752',
 'CADD_phred*62438828',
 'SIFT_score*62438752',
 'SIFT_score*62438828',
 'GERP++_RS*62438752',
 'GERP++_RS*62438828',
 'phyloP46way_placental*62438752',
 'phyloP46way_placental*62438828',
 'dbscSNV_ADA_SCORE*62438752',
 'dbscSNV_ADA_SCORE*62438828',
 'dbscSNV_RF_SCORE*62438752',
 'dbscSNV_RF_SCORE*62438828',
 'Interpro_domain*62438752',
 'Interpro_domain*62438828',
 'rmsk*62438752',
 'rmsk*62438828',
 'MetaSVM_score*62438752',
 'MetaSVM_score*62438828',
 'Freq_gnomAD_genome_POPs*62438752',
 'Freq_gnomAD_genome_POPs*62438828',
 'OMIM*62438752',
 'OMIM*62438828',
 'Phenotypes*62438752',
 'Phenotypes*62438828',
 'Orpha*62438752',
 'Orpha*62438828',
 'Varscan Freq*62438752',
 'Varscan Freq*62438828',
 'Varscan DP*62438752',
 'Varscan DP*62438828',
 'Lab_Frequency*62438752',
 'Lab_Frequency*62438828']

In [11]:
data_duo_update=data_duo[col]

In [12]:
data_duo_update

,#Chr,Start,End,Ref,Alt,GATK_GT*62438752,GATK_GT*62438828,VarScan GT*62438752,VarScan GT*62438828,Ref.Gene*62438752,...,Phenotypes*62438752,Phenotypes*62438828,Orpha*62438752,Orpha*62438828,Varscan Freq*62438752,Varscan Freq*62438828,Varscan DP*62438752,Varscan DP*62438828,Lab_Frequency*62438752,Lab_Frequency*62438828
0,chr1,1387764,1387765,CT,-,hom,NaN,hom,NaN,CCNL2,...,NaN,NaN,NaN,NaN,97.67%,NaN,43.0,NaN,222.0,NaN
1,chr1,1420962,1420964,TCC,-,het,NaN,het,NaN,ANKRD65,...,NaN,NaN,NaN,NaN,50%,NaN,52.0,NaN,8.0,NaN
2,chr1,1629573,1629573,G,-,het,het,het,het,MIB2,...,NaN,NaN,NaN,NaN,44.64%,50%,56.0,42.0,121.0,122.0
3,chr1,1708856,1708864,TCCTCCTCC,-,het,NaN,NaN,NaN,CDK11A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,245.0,NaN
4,chr1,1752908,1752908,-,CCT,het,hom,het,het,NADK,...,NaN,NaN,NaN,NaN,27.78%,60.71%,36.0,28.0,169.0,170.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41599,chrX,119649918,119649918,G,A,NaN,NaN,NaN,hom,NaN,...,NaN,NaN,NaN,NaN,NaN,100%,NaN,12.0,NaN,62.0
41600,chrX,135794961,135794961,G,A,NaN,NaN,NaN,hom,NaN,...,NaN,NaN,NaN,NaN,NaN,100%,NaN,11.0,NaN,49.0
41601,chrX,135794961,135794961,G,A,NaN,NaN,NaN,hom,NaN,...,NaN,NaN,NaN,NaN,NaN,100%,NaN,11.0,NaN,49.0
41602,chrX,135794961,135794961,G,A,NaN,NaN,NaN,hom,NaN,...,NaN,NaN,NaN,NaN,NaN,100%,NaN,11.0,NaN,49.0
41603,chrX,141906140,141906140,C,G,NaN,NaN,NaN,het,NaN,...,NaN,NaN,NaN,NaN,NaN,44.44%,NaN,18.0,NaN,51.0

In [13]:
data_duo_update.columns= data_duo_update.columns.str.replace(r"*","_")

C:\Users\esra.bardakci\AppData\Local\Temp\ipykernel_33540\2995907778.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data_duo_update.columns= data_duo_update.columns.str.replace(r"*","_")

In [14]:
data_duo_update.columns

Index(['#Chr', 'Start', 'End', 'Ref', 'Alt', 'GATK_GT_62438752',
       'GATK_GT_62438828', 'VarScan GT_62438752', 'VarScan GT_62438828',
       'Ref.Gene_62438752', 'Ref.Gene_62438828', 'Feature_ID_62438752',
       'Feature_ID_62438828', 'HGVS_62438752', 'HGVS_62438828',
       'Func.refGene_62438752', 'Func.refGene_62438828',
       'ExonicFunc.refGene_62438752', 'ExonicFunc.refGene_62438828',
       'avsnp147_62438752', 'avsnp147_62438828', 'AAChange.refGene_62438752',
       'AAChange.refGene_62438828', 'clinvar: Clinvar_62438752',
       'clinvar: Clinvar_62438828', 'InterVar: InterVar and Evidence_62438752',
       'InterVar: InterVar and Evidence_62438828',
       'Freq_gnomAD_genome_ALL_62438752', 'Freq_gnomAD_genome_ALL_62438828',
       'Freq_esp6500siv2_all_62438752', 'Freq_esp6500siv2_all_62438828',
       'Freq_1000g2015aug_all_62438752', 'Freq_1000g2015aug_all_62438828',
       'CADD_raw_62438752', 'CADD_raw_62438828', 'CADD_phred_62438752',
       'CADD_phred_62438828', 'SIFT_score_62438752', 'SIFT_score_62438828',
       'GERP++_RS_62438752', 'GERP++_RS_62438828',
       'phyloP46way_placental_62438752', 'phyloP46way_placental_62438828',
       'dbscSNV_ADA_SCORE_62438752', 'dbscSNV_ADA_SCORE_62438828',
       'dbscSNV_RF_SCORE_62438752', 'dbscSNV_RF_SCORE_62438828',
       'Interpro_domain_62438752', 'Interpro_domain_62438828', 'rmsk_62438752',
       'rmsk_62438828', 'MetaSVM_score_62438752', 'MetaSVM_score_62438828',
       'Freq_gnomAD_genome_POPs_62438752', 'Freq_gnomAD_genome_POPs_62438828',
       'OMIM_62438752', 'OMIM_62438828', 'Phenotypes_62438752',
       'Phenotypes_62438828', 'Orpha_62438752', 'Orpha_62438828',
       'Varscan Freq_62438752', 'Varscan Freq_62438828', 'Varscan DP_62438752',
       'Varscan DP_62438828', 'Lab_Frequency_62438752',
       'Lab_Frequency_62438828'],
      dtype='object')

In [16]:
data_duo_update = data_duo_update.drop(['Freq_gnomAD_genome_ALL_62438752', 'Freq_gnomAD_genome_ALL_62438828'
                                        ,'Freq_esp6500siv2_all_62438752','Freq_esp6500siv2_all_62438828', 
                                         'Freq_1000g2015aug_all_62438752', 'Freq_1000g2015aug_all_62438828',
                                         'Varscan Freq_62438752', 'Varscan Freq_62438828', 
                                        'Varscan DP_62438752','Varscan DP_62438828',
                                        'SIFT_score_62438752', 'SIFT_score_62438828',
                                        'GERP++_RS_62438752', 'GERP++_RS_62438828',
                                         'phyloP46way_placental_62438752','phyloP46way_placental_62438828', 
                                        'dbscSNV_ADA_SCORE_62438752', 'dbscSNV_ADA_SCORE_62438828',
                                         'Interpro_domain_62438752', 'Interpro_domain_62438828',
                                          'rmsk_62438752', 'rmsk_62438828',
                                          'MetaSVM_score_62438752', 'MetaSVM_score_62438828',
                                        'Freq_gnomAD_genome_POPs_62438752','Freq_gnomAD_genome_POPs_62438828',
                                        'dbscSNV_RF_SCORE_62438752','dbscSNV_RF_SCORE_62438828'], axis=1)

In [17]:
data_duo_update

,#Chr,Start,End,Ref,Alt,GATK_GT_62438752,GATK_GT_62438828,VarScan GT_62438752,VarScan GT_62438828,Ref.Gene_62438752,...,CADD_phred_62438752,CADD_phred_62438828,OMIM_62438752,OMIM_62438828,Phenotypes_62438752,Phenotypes_62438828,Orpha_62438752,Orpha_62438828,Lab_Frequency_62438752,Lab_Frequency_62438828
0,chr1,1387764,1387765,CT,-,hom,NaN,hom,NaN,CCNL2,...,.,NaN,613482,NaN,NaN,NaN,NaN,NaN,222.0,NaN
1,chr1,1420962,1420964,TCC,-,het,NaN,het,NaN,ANKRD65,...,.,NaN,.,NaN,NaN,NaN,NaN,NaN,8.0,NaN
2,chr1,1629573,1629573,G,-,het,het,het,het,MIB2,...,.,.,611141,611141,NaN,NaN,NaN,NaN,121.0,122.0
3,chr1,1708856,1708864,TCCTCCTCC,-,het,NaN,NaN,NaN,CDK11A,...,.,NaN,116951,NaN,NaN,NaN,NaN,NaN,245.0,NaN
4,chr1,1752908,1752908,-,CCT,het,hom,het,het,NADK,...,.,.,611616,611616,NaN,NaN,NaN,NaN,169.0,170.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41599,chrX,119649918,119649918,G,A,NaN,NaN,NaN,hom,NaN,...,NaN,.,NaN,300683,NaN,NaN,NaN,NaN,NaN,62.0
41600,chrX,135794961,135794961,G,A,NaN,NaN,NaN,hom,NaN,...,NaN,.,NaN,300796,NaN,NaN,NaN,NaN,NaN,49.0
41601,chrX,135794961,135794961,G,A,NaN,NaN,NaN,hom,NaN,...,NaN,.,NaN,300797,NaN,NaN,NaN,NaN,NaN,49.0
41602,chrX,135794961,135794961,G,A,NaN,NaN,NaN,hom,NaN,...,NaN,.,NaN,.,NaN,NaN,NaN,NaN,NaN,49.0
41603,chrX,141906140,141906140,C,G,NaN,NaN,NaN,het,NaN,...,NaN,5.288,NaN,300223,NaN,NaN,NaN,NaN,NaN,51.0

In [18]:
data_duo_update.to_excel("emir-umut-aydin_temp.xlsx")