In [2]:
import pandas as pd

In [3]:
file_path='5513-5515-0871-trio.xlsx'

In [4]:
data=pd.read_excel(file_path);data

,Chromosome,Position,End Position,Cytoband_55135515,Cytoband_0871,Reference Allele,Sample Allele,Variation Type_55135515,Variation Type_0871,Gene Region_55135515,...,PGMD_55135515,PGMD_0871,COSMIC ID_55135515,COSMIC ID_0871,Cosmic Frequency_55135515,Cosmic Frequency_0871,n_55135515,n_0871,Lab_frequency_55135515,Lab_frequency_0871
0,1,69453,69453,p36.33,NaN,G,A,SNV,NaN,Exonic,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,6.079027,NaN
1,1,69511,69511,p36.33,NaN,A,G,SNV,NaN,Exonic,...,NaN,NaN,NaN,NaN,0,NaN,113.0,NaN,34.346505,NaN
2,1,69552,69552,p36.33,NaN,G,C,SNV,NaN,Exonic,...,NaN,NaN,NaN,NaN,NaN,NaN,31.0,NaN,9.422492,NaN
3,1,69569,69569,p36.33,NaN,T,C,SNV,NaN,Exonic,...,NaN,NaN,NaN,NaN,0,NaN,22.0,NaN,6.686930,NaN
4,1,69849,69849,p36.33,NaN,G,A,SNV,NaN,Exonic,...,NaN,NaN,NaN,NaN,NaN,NaN,27.0,NaN,8.206687,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239208,M,16224,16224,NaN,NaN,T,C,NaN,SNV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,1.772152
239209,M,16261,16261,NaN,NaN,C,T,NaN,SNV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,2.278481
239210,M,16311,16311,NaN,NaN,T,C,NaN,SNV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,3.291139
239211,M,16385,16385,NaN,NaN,A,G,NaN,SNV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,0.506329
239212,M,16519,16519,NaN,NaN,T,C,NaN,SNV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,NaN,9.113924

In [5]:
data.columns

Index(['Chromosome', 'Position', 'End Position', 'Cytoband_55135515',
       'Cytoband_0871', 'Reference Allele', 'Sample Allele',
       'Variation Type_55135515', 'Variation Type_0871',
       'Gene Region_55135515',
       ...
       'PGMD_55135515', 'PGMD_0871', 'COSMIC ID_55135515', 'COSMIC ID_0871',
       'Cosmic Frequency_55135515', 'Cosmic Frequency_0871', 'n_55135515',
       'n_0871', 'Lab_frequency_55135515', 'Lab_frequency_0871'],
      dtype='object', length=114)

In [7]:
data = data.drop(['Conservation phyloP p-value_55135515','Conservation phyloP p-value_0871','Regulatory Site_55135515','Regulatory Site_0871',
                  'Regulator_55135515','Regulator_0871','Transcriptional Regulator_55135515','Transcriptional Regulator_0871',
                  'TFBS Enhancer Binding Score_55135515','TFBS Enhancer Binding Score_0871','Enhancer Binding Site_55135515','Enhancer Binding Site_0871',
                 'microRNA Regulator_55135515','microRNA Regulator_0871','Gene Fusion_55135515','Gene Fusion_0871','Fused to_55135515','Fused to_0871',
                 'DGV ID_55135515','DGV ID_0871','Odds Ratio_55135515','Odds Ratio_0871','Association p-value_55135515','Association p-value_0871',
                 'AFC Frequency_55135515','AFC Frequency_0871','CLINVAR ID_55135515','CLINVAR ID_0871','CentoMD_55135515','CentoMD_0871','PGMD_55135515','PGMD_0871',
                 'COSMIC ID_55135515','COSMIC ID_0871','Cosmic Frequency_55135515','Cosmic Frequency_0871'], axis=1)

In [8]:
data

,Chromosome,Position,End Position,Cytoband_55135515,Cytoband_0871,Reference Allele,Sample Allele,Variation Type_55135515,Variation Type_0871,Gene Region_55135515,...,OMIM Gene_55135515,OMIM Gene_0871,OMIM Phenotype_55135515,OMIM Phenotype_0871,OMIM ID_55135515,OMIM ID_0871,n_55135515,n_0871,Lab_frequency_55135515,Lab_frequency_0871
0,1,69453,69453,p36.33,NaN,G,A,SNV,NaN,Exonic,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,6.079027,NaN
1,1,69511,69511,p36.33,NaN,A,G,SNV,NaN,Exonic,...,NaN,NaN,NaN,NaN,NaN,NaN,113.0,NaN,34.346505,NaN
2,1,69552,69552,p36.33,NaN,G,C,SNV,NaN,Exonic,...,NaN,NaN,NaN,NaN,NaN,NaN,31.0,NaN,9.422492,NaN
3,1,69569,69569,p36.33,NaN,T,C,SNV,NaN,Exonic,...,NaN,NaN,NaN,NaN,NaN,NaN,22.0,NaN,6.686930,NaN
4,1,69849,69849,p36.33,NaN,G,A,SNV,NaN,Exonic,...,NaN,NaN,NaN,NaN,NaN,NaN,27.0,NaN,8.206687,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239208,M,16224,16224,NaN,NaN,T,C,NaN,SNV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,1.772152
239209,M,16261,16261,NaN,NaN,C,T,NaN,SNV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,2.278481
239210,M,16311,16311,NaN,NaN,T,C,NaN,SNV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,3.291139
239211,M,16385,16385,NaN,NaN,A,G,NaN,SNV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,0.506329
239212,M,16519,16519,NaN,NaN,T,C,NaN,SNV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,NaN,9.113924

In [9]:
data.columns

Index(['Chromosome', 'Position', 'End Position', 'Cytoband_55135515',
       'Cytoband_0871', 'Reference Allele', 'Sample Allele',
       'Variation Type_55135515', 'Variation Type_0871',
       'Gene Region_55135515', 'Gene Region_0871', 'Gene Symbol_55135515',
       'Gene Symbol_0871', 'Transcript ID_55135515', 'Transcript ID_0871',
       'Transcript Variant_55135515', 'Transcript Variant_0871',
       'Protein Variant_55135515', 'Protein Variant_0871',
       'Variant Findings_55135515', 'Variant Findings_0871',
       'Case Samples_55135515', 'Case Samples_0871',
       'Case Samples With Variant_55135515', 'Case Samples With Variant_0871',
       'Inferred Activity_5513', 'Inferred Activity_5515',
       'Inferred Activity_0871', 'Genotype_5513', 'Genotype_5515',
       'Genotype_0871', 'Sample Genotype Quality_55135515',
       'Sample Genotype Quality_0871', 'Compound Heterozygous_5513',
       'Compound Heterozygous_5515', 'Compound Heterozygous_0871',
       'Call Quality_5513', 'Call Quality_5515', 'Call Quality_0871',
       'Read Depth_5513', 'Read Depth_5515', 'Read Depth_0871',
       'Allele Fraction_5513', 'Allele Fraction_5515', 'Allele Fraction_0871',
       'Copy Number_5513', 'Copy Number_5515', 'Copy Number_0871',
       'Sample Upstream Filtering_55135515', 'Sample Upstream Filtering_0871',
       'Translation Impact_55135515', 'Translation Impact_0871',
       'Classification_55135515', 'Classification_0871',
       'SIFT Function Prediction_55135515', 'SIFT Function Prediction_0871',
       'SIFT Score_55135515', 'SIFT Score_0871',
       'PolyPhen-2 Function Prediction_55135515',
       'PolyPhen-2 Function Prediction_0871', 'CADD Score_55135515',
       'CADD Score_0871', 'dbSNP ID_55135515', 'dbSNP ID_0871',
       'gnomAD Frequency_55135515', 'gnomAD Frequency_0871', 'HGMD_55135515',
       'HGMD_0871', 'OMIM Gene_55135515', 'OMIM Gene_0871',
       'OMIM Phenotype_55135515', 'OMIM Phenotype_0871', 'OMIM ID_55135515',
       'OMIM ID_0871', 'n_55135515', 'n_0871', 'Lab_frequency_55135515',
       'Lab_frequency_0871'],
      dtype='object')

In [10]:
data=data.drop(['SIFT Function Prediction_55135515','SIFT Function Prediction_0871','PolyPhen-2 Function Prediction_55135515','PolyPhen-2 Function Prediction_0871',
               'gnomAD Frequency_55135515','gnomAD Frequency_0871'],axis=1)

In [11]:
data.columns

Index(['Chromosome', 'Position', 'End Position', 'Cytoband_55135515',
       'Cytoband_0871', 'Reference Allele', 'Sample Allele',
       'Variation Type_55135515', 'Variation Type_0871',
       'Gene Region_55135515', 'Gene Region_0871', 'Gene Symbol_55135515',
       'Gene Symbol_0871', 'Transcript ID_55135515', 'Transcript ID_0871',
       'Transcript Variant_55135515', 'Transcript Variant_0871',
       'Protein Variant_55135515', 'Protein Variant_0871',
       'Variant Findings_55135515', 'Variant Findings_0871',
       'Case Samples_55135515', 'Case Samples_0871',
       'Case Samples With Variant_55135515', 'Case Samples With Variant_0871',
       'Inferred Activity_5513', 'Inferred Activity_5515',
       'Inferred Activity_0871', 'Genotype_5513', 'Genotype_5515',
       'Genotype_0871', 'Sample Genotype Quality_55135515',
       'Sample Genotype Quality_0871', 'Compound Heterozygous_5513',
       'Compound Heterozygous_5515', 'Compound Heterozygous_0871',
       'Call Quality_5513', 'Call Quality_5515', 'Call Quality_0871',
       'Read Depth_5513', 'Read Depth_5515', 'Read Depth_0871',
       'Allele Fraction_5513', 'Allele Fraction_5515', 'Allele Fraction_0871',
       'Copy Number_5513', 'Copy Number_5515', 'Copy Number_0871',
       'Sample Upstream Filtering_55135515', 'Sample Upstream Filtering_0871',
       'Translation Impact_55135515', 'Translation Impact_0871',
       'Classification_55135515', 'Classification_0871', 'SIFT Score_55135515',
       'SIFT Score_0871', 'CADD Score_55135515', 'CADD Score_0871',
       'dbSNP ID_55135515', 'dbSNP ID_0871', 'HGMD_55135515', 'HGMD_0871',
       'OMIM Gene_55135515', 'OMIM Gene_0871', 'OMIM Phenotype_55135515',
       'OMIM Phenotype_0871', 'OMIM ID_55135515', 'OMIM ID_0871', 'n_55135515',
       'n_0871', 'Lab_frequency_55135515', 'Lab_frequency_0871'],
      dtype='object')

In [12]:
def merge_specified_columns(df, columns):
    def merge_row(row):
        values = [row[col] for col in columns if pd.notna(row[col]) and row[col] != '']
        if not values:
            return None
        if all(value == values[0] for value in values):
            return values[0]
        return values[0]  # If not identical, return the first non-empty value (or define another rule if needed)
    
    return df.apply(merge_row, axis=1)

In [13]:
# Specify the columns to merge
columns_to_merge = [ 'Lab_frequency_55135515', 'Lab_frequency_0871']

# Create the merged column
data['Lab_frequency'] = merge_specified_columns(data, columns_to_merge)

In [17]:
# Specify the columns to merge
columns_to_merge = ['n_55135515', 'n_0871']

# Create the merged column
data['n'] = merge_specified_columns(data, columns_to_merge)

In [18]:
# Specify the columns to merge
columns_to_merge = ['OMIM ID_55135515', 'OMIM ID_0871']

# Create the merged column
data['OMIM ID'] = merge_specified_columns(data, columns_to_merge)

In [19]:
# Specify the columns to merge
columns_to_merge = ['OMIM Phenotype_55135515', 'OMIM Phenotype_0871']

# Create the merged column
data['OMIM Phenotype'] = merge_specified_columns(data, columns_to_merge)

In [20]:
# Specify the columns to merge
columns_to_merge = ['OMIM Gene_55135515', 'OMIM Gene_0871']

# Create the merged column
data['OMIM Gene'] = merge_specified_columns(data, columns_to_merge)

In [21]:
# Specify the columns to merge
columns_to_merge = ['HGMD_55135515','HGMD_0871']

# Create the merged column
data['HGMD'] = merge_specified_columns(data, columns_to_merge)

In [22]:
# Specify the columns to merge
columns_to_merge = ['dbSNP ID_55135515','dbSNP ID_0871']

# Create the merged column
data['dbSNP ID'] = merge_specified_columns(data, columns_to_merge)

In [23]:
# Specify the columns to merge
columns_to_merge = ['CADD Score_55135515','CADD Score_0871']

# Create the merged column
data['CADD Score'] = merge_specified_columns(data, columns_to_merge)

In [24]:
# Specify the columns to merge
columns_to_merge = ['SIFT Score_55135515','SIFT Score_0871']

# Create the merged column
data['SIFT Score'] = merge_specified_columns(data, columns_to_merge)

In [25]:
# Specify the columns to merge
columns_to_merge = ['Classification_55135515','Classification_0871']

# Create the merged column
data['Classification'] = merge_specified_columns(data, columns_to_merge)

In [26]:
# Specify the columns to merge
columns_to_merge = ['Translation Impact_55135515', 'Translation Impact_0871']

# Create the merged column
data['Translation Impact'] = merge_specified_columns(data, columns_to_merge)

In [27]:
# Specify the columns to merge
columns_to_merge = ['Sample Upstream Filtering_55135515', 'Sample Upstream Filtering_0871']

# Create the merged column
data['Sample Upstream Filtering'] = merge_specified_columns(data, columns_to_merge)

In [37]:
# Specify the columns to merge
columns_to_merge = ['Copy Number_5513', 'Copy Number_5515','Copy Number_0871',]

# Create the merged column
data['Copy Number'] = merge_specified_columns(data, columns_to_merge)

In [38]:
# Specify the columns to merge
columns_to_merge = ['Compound Heterozygous_5513','Compound Heterozygous_5515','Compound Heterozygous_0871']

# Create the merged column
data['Compound Heterozygous'] = merge_specified_columns(data, columns_to_merge)

In [39]:
# Specify the columns to merge
columns_to_merge = ['Inferred Activity_5513', 'Inferred Activity_5515','Inferred Activity_0871']

# Create the merged column
data['Inferred Activity'] = merge_specified_columns(data, columns_to_merge)

In [40]:
# Specify the columns to merge
columns_to_merge = ['Case Samples With Variant_55135515','Case Samples With Variant_0871']

# Create the merged column
data['Case Samples With Variant'] = merge_specified_columns(data, columns_to_merge)

In [29]:
# Specify the columns to merge
columns_to_merge = ['Variant Findings_55135515','Variant Findings_0871']

# Create the merged column
data['Variant Findings'] = merge_specified_columns(data, columns_to_merge)

In [30]:
# Specify the columns to merge
columns_to_merge = ['Protein Variant_55135515','Protein Variant_0871']

# Create the merged column
data['Protein Variant'] = merge_specified_columns(data, columns_to_merge)

In [31]:
# Specify the columns to merge
columns_to_merge = ['Transcript Variant_55135515','Transcript Variant_0871']

# Create the merged column
data['Transcript Variant'] = merge_specified_columns(data, columns_to_merge)

In [32]:
# Specify the columns to merge
columns_to_merge = ['Transcript ID_55135515','Transcript ID_0871']

# Create the merged column
data['Transcript ID'] = merge_specified_columns(data, columns_to_merge)

In [33]:
# Specify the columns to merge
columns_to_merge = ['Gene Symbol_55135515','Gene Symbol_0871']

# Create the merged column
data['Gene Symbol'] = merge_specified_columns(data, columns_to_merge)

In [34]:
# Specify the columns to merge
columns_to_merge = ['Gene Region_55135515','Gene Region_0871']

# Create the merged column
data['Gene Region'] = merge_specified_columns(data, columns_to_merge)

In [35]:
# Specify the columns to merge
columns_to_merge = ['Variation Type_55135515','Variation Type_0871']

# Create the merged column
data['Variation Type'] = merge_specified_columns(data, columns_to_merge)

In [36]:
# Specify the columns to merge
columns_to_merge = ['Cytoband_55135515','Cytoband_0871']

# Create the merged column
data['Cytoband'] = merge_specified_columns(data, columns_to_merge)

In [41]:
data.columns

Index(['Chromosome', 'Position', 'End Position', 'Cytoband_55135515',
       'Cytoband_0871', 'Reference Allele', 'Sample Allele',
       'Variation Type_55135515', 'Variation Type_0871',
       'Gene Region_55135515', 'Gene Region_0871', 'Gene Symbol_55135515',
       'Gene Symbol_0871', 'Transcript ID_55135515', 'Transcript ID_0871',
       'Transcript Variant_55135515', 'Transcript Variant_0871',
       'Protein Variant_55135515', 'Protein Variant_0871',
       'Variant Findings_55135515', 'Variant Findings_0871',
       'Case Samples_55135515', 'Case Samples_0871',
       'Case Samples With Variant_55135515', 'Case Samples With Variant_0871',
       'Inferred Activity_5513', 'Inferred Activity_5515',
       'Inferred Activity_0871', 'Genotype_5513', 'Genotype_5515',
       'Genotype_0871', 'Sample Genotype Quality_55135515',
       'Sample Genotype Quality_0871', 'Compound Heterozygous_5513',
       'Compound Heterozygous_5515', 'Compound Heterozygous_0871',
       'Call Quality_5513', 'Call Quality_5515', 'Call Quality_0871',
       'Read Depth_5513', 'Read Depth_5515', 'Read Depth_0871',
       'Allele Fraction_5513', 'Allele Fraction_5515', 'Allele Fraction_0871',
       'Copy Number_5513', 'Copy Number_5515', 'Copy Number_0871',
       'Sample Upstream Filtering_55135515', 'Sample Upstream Filtering_0871',
       'Translation Impact_55135515', 'Translation Impact_0871',
       'Classification_55135515', 'Classification_0871', 'SIFT Score_55135515',
       'SIFT Score_0871', 'CADD Score_55135515', 'CADD Score_0871',
       'dbSNP ID_55135515', 'dbSNP ID_0871', 'HGMD_55135515', 'HGMD_0871',
       'OMIM Gene_55135515', 'OMIM Gene_0871', 'OMIM Phenotype_55135515',
       'OMIM Phenotype_0871', 'OMIM ID_55135515', 'OMIM ID_0871', 'n_55135515',
       'n_0871', 'Lab_frequency_55135515', 'Lab_frequency_0871',
       'Lab_frequency', 'n', 'OMIM ID', 'OMIM Phenotype', 'OMIM Gene', 'HGMD',
       'dbSNP ID', 'CADD Score', 'SIFT Score', 'Classification',
       'Translation Impact', 'Sample Upstream Filtering', 'Variant Findings',
       'Protein Variant', 'Transcript Variant', 'Transcript ID', 'Gene Symbol',
       'Gene Region', 'Variation Type', 'Cytoband', 'Copy Number',
       'Compound Heterozygous', 'Inferred Activity',
       'Case Samples With Variant'],
      dtype='object')

In [42]:
data2=data[['Chromosome','Position','End Position','Cytoband','Reference Allele', 'Sample Allele','Variation Type','Gene Region',
           'Gene Symbol','Transcript ID','Transcript Variant','Protein Variant','Variant Findings','Case Samples_55135515','Case Samples_0871','Case Samples With Variant',
           'Inferred Activity','Genotype_5513','Genotype_5515','Genotype_0871','Sample Genotype Quality_55135515','Sample Genotype Quality_0871','Compound Heterozygous','Call Quality_5513','Call Quality_5515','Call Quality_0871',
            'Read Depth_5513','Read Depth_5515','Read Depth_0871','Allele Fraction_5513','Allele Fraction_5515','Allele Fraction_0871',
           'Copy Number','Sample Upstream Filtering','Translation Impact','Classification','SIFT Score','CADD Score','dbSNP ID','HGMD',
           'OMIM Gene','OMIM Phenotype','OMIM ID','n','Lab_frequency']]

In [43]:
data2

,Chromosome,Position,End Position,Cytoband,Reference Allele,Sample Allele,Variation Type,Gene Region,Gene Symbol,Transcript ID,...,Classification,SIFT Score,CADD Score,dbSNP ID,HGMD,OMIM Gene,OMIM Phenotype,OMIM ID,n,Lab_frequency
0,1,69453,69453,p36.33,G,A,SNV,Exonic,OR4F5,ENST00000641515.2; NM_001005484.2,...,Uncertain Significance,NaN,< 10,2854682,None,None,None,None,20.0,6.079027
1,1,69511,69511,p36.33,A,G,SNV,Exonic,OR4F5,ENST00000641515.2; NM_001005484.2,...,Benign,NaN,< 10,2691305,None,None,None,None,113.0,34.346505
2,1,69552,69552,p36.33,G,C,SNV,Exonic,OR4F5,ENST00000641515.2; NM_001005484.2,...,Likely Benign,NaN,< 10,2531266,None,None,None,None,31.0,9.422492
3,1,69569,69569,p36.33,T,C,SNV,Exonic,OR4F5,ENST00000641515.2; NM_001005484.2,...,Uncertain Significance,NaN,< 10,2531267,None,None,None,None,22.0,6.686930
4,1,69849,69849,p36.33,G,A,SNV,Exonic,OR4F5,ENST00000641515.2; NM_001005484.2,...,Benign,NaN,33.000,776815449,None,None,None,None,27.0,8.206687
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239208,M,16224,16224,None,T,C,SNV,None,None,None,...,Uncertain Significance,NaN,< 10,386420031,None,None,None,None,7.0,1.772152
239209,M,16261,16261,None,C,T,SNV,None,None,None,...,Benign,NaN,< 10,138126107,None,None,None,None,9.0,2.278481
239210,M,16311,16311,None,T,C,SNV,None,None,None,...,Benign,NaN,< 10,34799580,None,None,None,None,13.0,3.291139
239211,M,16385,16385,None,A,G,SNV,None,None,None,...,Uncertain Significance,NaN,< 10,None,None,None,None,None,2.0,0.506329
239212,M,16519,16519,None,T,C,SNV,None,None,None,...,Benign,NaN,< 10,3937033,None,None,None,None,36.0,9.113924

In [44]:
data2.to_excel('MG24-5513-5515-MG25-0871-WGS-TRIO-hg38.xlsx',index=False)