In [114]:
import pandas as pd
import re

In [115]:
control=pd.read_excel('MG25_0871Kopya.xlsx');control

,Chromosome,Position,End Position,Cytoband,Reference Allele,Sample Allele,Variation Type,Gene Region,Gene Symbol,Transcript ID,...,CLINVAR ID,CentoMD,OMIM Gene,OMIM Phenotype,OMIM ID,PGMD,COSMIC ID,Cosmic Frequency,n,Lab_frequency
0,1,26996,26996,p36.33,A,G,SNV,Intronic,WASH7P,NR_024540.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,3.037975
1,1,28589,28590,p36.33,NaN,TTGG,Insertion,Promoter; Intronic,WASH7P; MIR1302-2,NR_036051.1; NR_024540.1; ENST00000607096.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.253165
2,1,29443,29443,p36.33,A,G,SNV,Promoter,WASH7P; MIR1302-2,NR_036051.1; NR_024540.1; ENST00000607096.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,2.784810
3,1,33411,33411,p36.33,A,C,SNV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,0.759494
4,1,40244,40244,p36.33,C,T,SNV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,2.025316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194391,M,16224,16224,NaN,T,C,SNV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,1.518987
194392,M,16261,16261,NaN,C,T,SNV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,2.025316
194393,M,16311,16311,NaN,T,C,SNV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,3.037975
194394,M,16385,16385,NaN,A,G,SNV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0.253165
194395,M,16519,16519,NaN,T,C,SNV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,8.860759

In [116]:
control.columns

Index(['Chromosome', 'Position', 'End Position', 'Cytoband',
       'Reference Allele', 'Sample Allele', 'Variation Type', 'Gene Region',
       'Gene Symbol', 'Transcript ID', 'Transcript Variant', 'Protein Variant',
       'Variant Findings', 'Case Samples', 'Case Samples With Variant',
       'Inferred Activity', 'Genotype', 'Sample Genotype Quality',
       'Compound Heterozygous', 'Call Quality', 'Read Depth',
       'Allele Fraction', 'Copy Number', 'Sample Upstream Filtering',
       'Translation Impact', 'Classification', 'SIFT Function Prediction',
       'SIFT Score', 'PolyPhen-2 Function Prediction', 'CADD Score',
       'Conservation phyloP p-value', 'Regulatory Site', 'Regulator',
       'Transcriptional Regulator', 'TFBS Enhancer Binding Score',
       'Enhancer Binding Site', 'microRNA Regulator', 'Gene Fusion',
       'Fused to', 'dbSNP ID', 'DGV ID', 'Odds Ratio', 'Association p-value',
       'AFC Frequency', 'gnomAD Frequency', 'HGMD', 'CLINVAR ID', 'CentoMD',
       'OMIM Gene', 'OMIM Phenotype', 'OMIM ID', 'PGMD', 'COSMIC ID',
       'Cosmic Frequency', 'n', 'Lab_frequency'],
      dtype='object')

In [117]:
duo=pd.read_excel('MG24-5513-5515_up.xlsx', index_col=None);duo

,Chromosome,Position,End Position,Cytoband*55135515,Reference Allele,Sample Allele,Variation Type*55135515,Gene Region*55135515,Gene Symbol*55135515,Transcript ID*55135515,...,CLINVAR ID*55135515,CentoMD*55135515,OMIM Gene*55135515,OMIM Phenotype*55135515,OMIM ID*55135515,PGMD*55135515,COSMIC ID*55135515,Cosmic Frequency*55135515,n*55135515,Lab_frequency*55135515
0,1,69453,69453,p36.33,G,A,SNV,Exonic,OR4F5,ENST00000641515.2; NM_001005484.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,6.079027
1,1,69511,69511,p36.33,A,G,SNV,Exonic,OR4F5,ENST00000641515.2; NM_001005484.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,113,34.346505
2,1,69552,69552,p36.33,G,C,SNV,Exonic,OR4F5,ENST00000641515.2; NM_001005484.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31,9.422492
3,1,69569,69569,p36.33,T,C,SNV,Exonic,OR4F5,ENST00000641515.2; NM_001005484.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,22,6.686930
4,1,69849,69849,p36.33,G,A,SNV,Exonic,OR4F5,ENST00000641515.2; NM_001005484.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,8.206687
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45921,Y,12786229,12786229,q11.221,G,A,SNV,Exonic,USP9Y,ENST00000338981.7; ENST00000651177.1; NM_004654.4,...,NaN,NaN,USP9Y,"Spermatogenic failure, Y-linked, 2, 415000 (3)...",400005,NaN,5989899,0; 1.89,6,1.823708
45922,Y,12786502,12786502,q11.221,T,NaN,Deletion,Intronic,USP9Y,ENST00000338981.7; ENST00000651177.1; NM_004654.4,...,NaN,NaN,USP9Y,"Spermatogenic failure, Y-linked, 2, 415000 (3)...",400005,NaN,NaN,NaN,13,3.951368
45923,Y,13470103,13470103,q11.221,G,A,SNV,Intronic,UTY,NM_001258263.1; NR_047612.1; NR_047627.1; NR_0...,...,NaN,NaN,UTY,NaN,400009,NaN,NaN,0,15,4.559271
45924,Y,24045604,24047688,q11.23,NaN,CNV:2085,Copy Number,Exonic; Intronic; Splice Site; 3'UTR,CDY1B,ENST00000382407.1; ENST00000306882.4; NM_00100...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39,11.854103
45925,Y,25622443,25624527,q11.23,NaN,CNV:2085,Copy Number,Exonic; Intronic; Splice Site; 3'UTR,CDY1,NM_170723.2; NM_004680.3; ENST00000306609.5; E...,...,NaN,NaN,CDY1,NaN,400016,NaN,NaN,NaN,37,11.246201

In [118]:
duo.columns

Index(['Chromosome', 'Position', 'End Position', 'Cytoband*55135515',
       'Reference Allele', 'Sample Allele', 'Variation Type*55135515',
       'Gene Region*55135515', 'Gene Symbol*55135515',
       'Transcript ID*55135515', 'Transcript Variant*55135515',
       'Protein Variant*55135515', 'Variant Findings*55135515',
       'Case Samples*55135515', 'Case Samples With Variant*55135515',
       'Inferred Activity*5513', 'Inferred Activity*5515', 'Genotype*5513',
       'Genotype*5515', 'Sample Genotype Quality*55135515',
       'Compound Heterozygous*5513', 'Compound Heterozygous*5515',
       'Call Quality*5513', 'Call Quality*5515', 'Read Depth*5513',
       'Read Depth*5515', 'Allele Fraction*5513', 'Allele Fraction*5515',
       'Copy Number*5513', 'Copy Number*5515',
       'Sample Upstream Filtering*55135515', 'Translation Impact*55135515',
       'Classification*55135515', 'SIFT Function Prediction*55135515',
       'SIFT Score*55135515', 'PolyPhen-2 Function Prediction*55135515',
       'CADD Score*55135515', 'Conservation phyloP p-value*55135515',
       'Regulatory Site*55135515', 'Regulator*55135515',
       'Transcriptional Regulator*55135515',
       'TFBS Enhancer Binding Score*55135515',
       'Enhancer Binding Site*55135515', 'microRNA Regulator*55135515',
       'Gene Fusion*55135515', 'Fused to*55135515', 'dbSNP ID*55135515',
       'DGV ID*55135515', 'Odds Ratio*55135515',
       'Association p-value*55135515', 'AFC Frequency*55135515',
       'gnomAD Frequency*55135515', 'HGMD*55135515', 'CLINVAR ID*55135515',
       'CentoMD*55135515', 'OMIM Gene*55135515', 'OMIM Phenotype*55135515',
       'OMIM ID*55135515', 'PGMD*55135515', 'COSMIC ID*55135515',
       'Cosmic Frequency*55135515', 'n*55135515', 'Lab_frequency*55135515'],
      dtype='object')

In [120]:
data=pd.read_excel('MG25_0871_up.xlsx');data

,Chromosome,Position,End Position,Cytoband,Reference Allele,Sample Allele,Variation Type,Gene Region,Gene Symbol,Transcript ID,...,CLINVAR ID,CentoMD,OMIM Gene,OMIM Phenotype,OMIM ID,PGMD,COSMIC ID,Cosmic Frequency,n,Lab_frequency
0,1,26996,26996,p36.33,A,G,SNV,Intronic,WASH7P,NR_024540.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,3.291139
1,1,28589,28590,p36.33,NaN,TTGG,Insertion,Promoter; Intronic,WASH7P; MIR1302-2,NR_036051.1; NR_024540.1; ENST00000607096.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0.506329
2,1,29443,29443,p36.33,A,G,SNV,Promoter,WASH7P; MIR1302-2,NR_036051.1; NR_024540.1; ENST00000607096.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,3.037975
3,1,33411,33411,p36.33,A,C,SNV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1.012658
4,1,40244,40244,p36.33,C,T,SNV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,2.278481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194391,M,16224,16224,NaN,T,C,SNV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,1.772152
194392,M,16261,16261,NaN,C,T,SNV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,2.278481
194393,M,16311,16311,NaN,T,C,SNV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,3.291139
194394,M,16385,16385,NaN,A,G,SNV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0.506329
194395,M,16519,16519,NaN,T,C,SNV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,9.113924

In [121]:
data.columns

Index(['Chromosome', 'Position', 'End Position', 'Cytoband',
       'Reference Allele', 'Sample Allele', 'Variation Type', 'Gene Region',
       'Gene Symbol', 'Transcript ID', 'Transcript Variant', 'Protein Variant',
       'Variant Findings', 'Case Samples', 'Case Samples With Variant',
       'Inferred Activity', 'Genotype', 'Sample Genotype Quality',
       'Compound Heterozygous', 'Call Quality', 'Read Depth',
       'Allele Fraction', 'Copy Number', 'Sample Upstream Filtering',
       'Translation Impact', 'Classification', 'SIFT Function Prediction',
       'SIFT Score', 'PolyPhen-2 Function Prediction', 'CADD Score',
       'Conservation phyloP p-value', 'Regulatory Site', 'Regulator',
       'Transcriptional Regulator', 'TFBS Enhancer Binding Score',
       'Enhancer Binding Site', 'microRNA Regulator', 'Gene Fusion',
       'Fused to', 'dbSNP ID', 'DGV ID', 'Odds Ratio', 'Association p-value',
       'AFC Frequency', 'gnomAD Frequency', 'HGMD', 'CLINVAR ID', 'CentoMD',
       'OMIM Gene', 'OMIM Phenotype', 'OMIM ID', 'PGMD', 'COSMIC ID',
       'Cosmic Frequency', 'n', 'Lab_frequency'],
      dtype='object')

In [122]:
cols=[a for a in data.columns if a not in  ['Chromosome', 'Position', 'End Position', 'Reference Allele', 'Sample Allele']] 

a='*'+'0871'

In [123]:
data.columns = ['{}{}'.format(c, str(a) if c in cols else '') for c in data.columns]

In [124]:
data

,Chromosome,Position,End Position,Cytoband*0871,Reference Allele,Sample Allele,Variation Type*0871,Gene Region*0871,Gene Symbol*0871,Transcript ID*0871,...,CLINVAR ID*0871,CentoMD*0871,OMIM Gene*0871,OMIM Phenotype*0871,OMIM ID*0871,PGMD*0871,COSMIC ID*0871,Cosmic Frequency*0871,n*0871,Lab_frequency*0871
0,1,26996,26996,p36.33,A,G,SNV,Intronic,WASH7P,NR_024540.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,3.291139
1,1,28589,28590,p36.33,NaN,TTGG,Insertion,Promoter; Intronic,WASH7P; MIR1302-2,NR_036051.1; NR_024540.1; ENST00000607096.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0.506329
2,1,29443,29443,p36.33,A,G,SNV,Promoter,WASH7P; MIR1302-2,NR_036051.1; NR_024540.1; ENST00000607096.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,3.037975
3,1,33411,33411,p36.33,A,C,SNV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1.012658
4,1,40244,40244,p36.33,C,T,SNV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,2.278481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194391,M,16224,16224,NaN,T,C,SNV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,1.772152
194392,M,16261,16261,NaN,C,T,SNV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,2.278481
194393,M,16311,16311,NaN,T,C,SNV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,3.291139
194394,M,16385,16385,NaN,A,G,SNV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0.506329
194395,M,16519,16519,NaN,T,C,SNV,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,9.113924

In [125]:
data.columns

Index(['Chromosome', 'Position', 'End Position', 'Cytoband*0871',
       'Reference Allele', 'Sample Allele', 'Variation Type*0871',
       'Gene Region*0871', 'Gene Symbol*0871', 'Transcript ID*0871',
       'Transcript Variant*0871', 'Protein Variant*0871',
       'Variant Findings*0871', 'Case Samples*0871',
       'Case Samples With Variant*0871', 'Inferred Activity*0871',
       'Genotype*0871', 'Sample Genotype Quality*0871',
       'Compound Heterozygous*0871', 'Call Quality*0871', 'Read Depth*0871',
       'Allele Fraction*0871', 'Copy Number*0871',
       'Sample Upstream Filtering*0871', 'Translation Impact*0871',
       'Classification*0871', 'SIFT Function Prediction*0871',
       'SIFT Score*0871', 'PolyPhen-2 Function Prediction*0871',
       'CADD Score*0871', 'Conservation phyloP p-value*0871',
       'Regulatory Site*0871', 'Regulator*0871',
       'Transcriptional Regulator*0871', 'TFBS Enhancer Binding Score*0871',
       'Enhancer Binding Site*0871', 'microRNA Regulator*0871',
       'Gene Fusion*0871', 'Fused to*0871', 'dbSNP ID*0871', 'DGV ID*0871',
       'Odds Ratio*0871', 'Association p-value*0871', 'AFC Frequency*0871',
       'gnomAD Frequency*0871', 'HGMD*0871', 'CLINVAR ID*0871', 'CentoMD*0871',
       'OMIM Gene*0871', 'OMIM Phenotype*0871', 'OMIM ID*0871', 'PGMD*0871',
       'COSMIC ID*0871', 'Cosmic Frequency*0871', 'n*0871',
       'Lab_frequency*0871'],
      dtype='object')

In [126]:
data_trio=pd.merge(duo,data,on=['Chromosome','Position','End Position','Reference Allele','Sample Allele'],how='outer')

In [127]:
data_trio

,Chromosome,Position,End Position,Cytoband*55135515,Reference Allele,Sample Allele,Variation Type*55135515,Gene Region*55135515,Gene Symbol*55135515,Transcript ID*55135515,...,CLINVAR ID*0871,CentoMD*0871,OMIM Gene*0871,OMIM Phenotype*0871,OMIM ID*0871,PGMD*0871,COSMIC ID*0871,Cosmic Frequency*0871,n*0871,Lab_frequency*0871
0,1,69453,69453,p36.33,G,A,SNV,Exonic,OR4F5,ENST00000641515.2; NM_001005484.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,69511,69511,p36.33,A,G,SNV,Exonic,OR4F5,ENST00000641515.2; NM_001005484.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,69552,69552,p36.33,G,C,SNV,Exonic,OR4F5,ENST00000641515.2; NM_001005484.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,69569,69569,p36.33,T,C,SNV,Exonic,OR4F5,ENST00000641515.2; NM_001005484.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,69849,69849,p36.33,G,A,SNV,Exonic,OR4F5,ENST00000641515.2; NM_001005484.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239208,M,16224,16224,NaN,T,C,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,1.772152
239209,M,16261,16261,NaN,C,T,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,2.278481
239210,M,16311,16311,NaN,T,C,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,3.291139
239211,M,16385,16385,NaN,A,G,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.506329
239212,M,16519,16519,NaN,T,C,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,9.113924

In [128]:
data_trio.columns

Index(['Chromosome', 'Position', 'End Position', 'Cytoband*55135515',
       'Reference Allele', 'Sample Allele', 'Variation Type*55135515',
       'Gene Region*55135515', 'Gene Symbol*55135515',
       'Transcript ID*55135515',
       ...
       'CLINVAR ID*0871', 'CentoMD*0871', 'OMIM Gene*0871',
       'OMIM Phenotype*0871', 'OMIM ID*0871', 'PGMD*0871', 'COSMIC ID*0871',
       'Cosmic Frequency*0871', 'n*0871', 'Lab_frequency*0871'],
      dtype='object', length=114)

In [129]:
col=sorted(data_trio.columns,key=lambda x: control.columns.get_loc(x.split('*')[0]))

In [130]:
col

['Chromosome',
 'Position',
 'End Position',
 'Cytoband*55135515',
 'Cytoband*0871',
 'Reference Allele',
 'Sample Allele',
 'Variation Type*55135515',
 'Variation Type*0871',
 'Gene Region*55135515',
 'Gene Region*0871',
 'Gene Symbol*55135515',
 'Gene Symbol*0871',
 'Transcript ID*55135515',
 'Transcript ID*0871',
 'Transcript Variant*55135515',
 'Transcript Variant*0871',
 'Protein Variant*55135515',
 'Protein Variant*0871',
 'Variant Findings*55135515',
 'Variant Findings*0871',
 'Case Samples*55135515',
 'Case Samples*0871',
 'Case Samples With Variant*55135515',
 'Case Samples With Variant*0871',
 'Inferred Activity*5513',
 'Inferred Activity*5515',
 'Inferred Activity*0871',
 'Genotype*5513',
 'Genotype*5515',
 'Genotype*0871',
 'Sample Genotype Quality*55135515',
 'Sample Genotype Quality*0871',
 'Compound Heterozygous*5513',
 'Compound Heterozygous*5515',
 'Compound Heterozygous*0871',
 'Call Quality*5513',
 'Call Quality*5515',
 'Call Quality*0871',
 'Read Depth*5513',
 'Read Depth*5515',
 'Read Depth*0871',
 'Allele Fraction*5513',
 'Allele Fraction*5515',
 'Allele Fraction*0871',
 'Copy Number*5513',
 'Copy Number*5515',
 'Copy Number*0871',
 'Sample Upstream Filtering*55135515',
 'Sample Upstream Filtering*0871',
 'Translation Impact*55135515',
 'Translation Impact*0871',
 'Classification*55135515',
 'Classification*0871',
 'SIFT Function Prediction*55135515',
 'SIFT Function Prediction*0871',
 'SIFT Score*55135515',
 'SIFT Score*0871',
 'PolyPhen-2 Function Prediction*55135515',
 'PolyPhen-2 Function Prediction*0871',
 'CADD Score*55135515',
 'CADD Score*0871',
 'Conservation phyloP p-value*55135515',
 'Conservation phyloP p-value*0871',
 'Regulatory Site*55135515',
 'Regulatory Site*0871',
 'Regulator*55135515',
 'Regulator*0871',
 'Transcriptional Regulator*55135515',
 'Transcriptional Regulator*0871',
 'TFBS Enhancer Binding Score*55135515',
 'TFBS Enhancer Binding Score*0871',
 'Enhancer Binding Site*55135515',
 'Enhancer Binding Site*0871',
 'microRNA Regulator*55135515',
 'microRNA Regulator*0871',
 'Gene Fusion*55135515',
 'Gene Fusion*0871',
 'Fused to*55135515',
 'Fused to*0871',
 'dbSNP ID*55135515',
 'dbSNP ID*0871',
 'DGV ID*55135515',
 'DGV ID*0871',
 'Odds Ratio*55135515',
 'Odds Ratio*0871',
 'Association p-value*55135515',
 'Association p-value*0871',
 'AFC Frequency*55135515',
 'AFC Frequency*0871',
 'gnomAD Frequency*55135515',
 'gnomAD Frequency*0871',
 'HGMD*55135515',
 'HGMD*0871',
 'CLINVAR ID*55135515',
 'CLINVAR ID*0871',
 'CentoMD*55135515',
 'CentoMD*0871',
 'OMIM Gene*55135515',
 'OMIM Gene*0871',
 'OMIM Phenotype*55135515',
 'OMIM Phenotype*0871',
 'OMIM ID*55135515',
 'OMIM ID*0871',
 'PGMD*55135515',
 'PGMD*0871',
 'COSMIC ID*55135515',
 'COSMIC ID*0871',
 'Cosmic Frequency*55135515',
 'Cosmic Frequency*0871',
 'n*55135515',
 'n*0871',
 'Lab_frequency*55135515',
 'Lab_frequency*0871']

In [131]:
data_trio_update=data_trio[col]

In [132]:
data_trio_update

,Chromosome,Position,End Position,Cytoband*55135515,Cytoband*0871,Reference Allele,Sample Allele,Variation Type*55135515,Variation Type*0871,Gene Region*55135515,...,PGMD*55135515,PGMD*0871,COSMIC ID*55135515,COSMIC ID*0871,Cosmic Frequency*55135515,Cosmic Frequency*0871,n*55135515,n*0871,Lab_frequency*55135515,Lab_frequency*0871
0,1,69453,69453,p36.33,NaN,G,A,SNV,NaN,Exonic,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,6.079027,NaN
1,1,69511,69511,p36.33,NaN,A,G,SNV,NaN,Exonic,...,NaN,NaN,NaN,NaN,0,NaN,113.0,NaN,34.346505,NaN
2,1,69552,69552,p36.33,NaN,G,C,SNV,NaN,Exonic,...,NaN,NaN,NaN,NaN,NaN,NaN,31.0,NaN,9.422492,NaN
3,1,69569,69569,p36.33,NaN,T,C,SNV,NaN,Exonic,...,NaN,NaN,NaN,NaN,0,NaN,22.0,NaN,6.686930,NaN
4,1,69849,69849,p36.33,NaN,G,A,SNV,NaN,Exonic,...,NaN,NaN,NaN,NaN,NaN,NaN,27.0,NaN,8.206687,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239208,M,16224,16224,NaN,NaN,T,C,NaN,SNV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,1.772152
239209,M,16261,16261,NaN,NaN,C,T,NaN,SNV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,2.278481
239210,M,16311,16311,NaN,NaN,T,C,NaN,SNV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,3.291139
239211,M,16385,16385,NaN,NaN,A,G,NaN,SNV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,0.506329
239212,M,16519,16519,NaN,NaN,T,C,NaN,SNV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,NaN,9.113924

In [133]:
data_trio_update.columns= data_trio_update.columns.str.replace(r"*","_")

C:\Users\esra.bardakci\AppData\Local\Temp\ipykernel_17256\2340179185.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data_trio_update.columns= data_trio_update.columns.str.replace(r"*","_")

In [134]:
data_trio_update

,Chromosome,Position,End Position,Cytoband_55135515,Cytoband_0871,Reference Allele,Sample Allele,Variation Type_55135515,Variation Type_0871,Gene Region_55135515,...,PGMD_55135515,PGMD_0871,COSMIC ID_55135515,COSMIC ID_0871,Cosmic Frequency_55135515,Cosmic Frequency_0871,n_55135515,n_0871,Lab_frequency_55135515,Lab_frequency_0871
0,1,69453,69453,p36.33,NaN,G,A,SNV,NaN,Exonic,...,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,6.079027,NaN
1,1,69511,69511,p36.33,NaN,A,G,SNV,NaN,Exonic,...,NaN,NaN,NaN,NaN,0,NaN,113.0,NaN,34.346505,NaN
2,1,69552,69552,p36.33,NaN,G,C,SNV,NaN,Exonic,...,NaN,NaN,NaN,NaN,NaN,NaN,31.0,NaN,9.422492,NaN
3,1,69569,69569,p36.33,NaN,T,C,SNV,NaN,Exonic,...,NaN,NaN,NaN,NaN,0,NaN,22.0,NaN,6.686930,NaN
4,1,69849,69849,p36.33,NaN,G,A,SNV,NaN,Exonic,...,NaN,NaN,NaN,NaN,NaN,NaN,27.0,NaN,8.206687,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239208,M,16224,16224,NaN,NaN,T,C,NaN,SNV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,1.772152
239209,M,16261,16261,NaN,NaN,C,T,NaN,SNV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,2.278481
239210,M,16311,16311,NaN,NaN,T,C,NaN,SNV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,3.291139
239211,M,16385,16385,NaN,NaN,A,G,NaN,SNV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,0.506329
239212,M,16519,16519,NaN,NaN,T,C,NaN,SNV,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,NaN,9.113924

In [135]:
data_trio_update.to_excel('5513-5515-0871-trio.xlsx',index=False)