In [1]:
import pandas as pd
import re

In [2]:
file1_path='W1097347_results.xlsx'
file2_path='W1097346_results.xlsx'
file3_path='W1087820_results.xlsx'

In [3]:
data1=pd.read_excel(file1_path)
data2=pd.read_excel(file2_path)
data3=pd.read_excel(file3_path)

In [7]:
string1=re.findall(pattern='\d+(?=_)',string=file1_path)[0]
string2=re.findall(pattern='\d+(?=_)',string=file2_path)[0]
string3=re.findall(pattern='\d+(?=_)',string=file3_path)[0]

In [10]:
string3

'1087820'

In [11]:
cols=[a for a in data3.columns if a not in  ['#Chr', 'Start', 'End', 'Ref', 'Alt']]
a='*'+string3

In [12]:
a

'*1087820'

In [13]:
data3.columns = ['{}{}'.format(c, str(a) if c in cols else '') for c in data3.columns]

In [14]:
data3

,#Chr,Start,End,Ref,Alt,GATK_GT*1087820,VarScan GT*1087820,Ref.Gene*1087820,Feature_ID*1087820,HGVS*1087820,...,Interpro_domain*1087820,rmsk*1087820,MetaSVM_score*1087820,Freq_gnomAD_genome_POPs*1087820,OMIM*1087820,Phenotypes*1087820,Orpha*1087820,Varscan Freq*1087820,Varscan DP*1087820,Lab_Frequency*1087820
0,chr1,1043224,1043225,CT,-,het,het,AGRN,"NM_001305275.2,NM_198576.4,NM_001364727.2","c.1385-15_1385-14delCT,c.1385-15_1385-14delCT,...",...,.,.,.,"AFR:0.1058,AMR:0.6782,EAS:0.7662,FIN:0.5336,NF...",103320,"Myasthenic syndrome, congenital, 8, with pre- ...",590|Congenital myasthenic syndrome|1-9 / 1 000...,41.67%,72.0,195
1,chr1,1387764,1387765,CT,-,hom,hom,CCNL2,"NM_001039577.4,NM_030937.6,NM_001350497.1,NM_0...","c.*5017_*5018delAG,c.1211+12_1211+13delAG,c.54...",...,.,.,.,"AFR:0.2700,AMR:0.3918,EAS:0.0191,FIN:0.7160,NF...",613482,NaN,NaN,100%,87.0,219
2,chr1,1420962,1420964,TCC,-,het,het,ANKRD65,"NM_001145210.2,NM_001243535.2,NM_001243536.2","c.42_44delGGA,c.42_44delGGA,c.42_44delGGA",...,.,Name=(TCC)n,.,"AFR:0.0007,AMR:0,EAS:0,FIN:0,NFE:0.0017,OTH:0,...",.,NaN,NaN,36.7%,109.0,6
3,chr1,1629573,1629573,G,-,het,het,MIB2,"NM_006983.2,NR_002946.1,NM_080875.3,NM_0011706...","c.-2646delG,n.-3207delG,c.2737+12delG,c.2713+1...",...,.,.,.,"AFR:0.0665,AMR:0.1902,EAS:0.0752,FIN:0.3436,NF...",611141,NaN,NaN,47.06%,102.0,119
4,chr1,1708856,1708864,TCCTCCTCC,-,het,het,CDK11A,"NM_001313896.2,NM_001313982.2,NM_024011.4,NM_0...","c.942_950delGGAGGAGGA,c.930_938delGGAGGAGGA,c....",...,.,Name=(CTC)n,.,"AFR:0.0036,AMR:0,EAS:0,FIN:0,NFE:0.0029,OTH:0,...",116951,NaN,NaN,25.26%,95.0,242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35646,chrY,22513968,22513968,T,C,NaN,het,PRY2,NaN,NaN,...,.,.,.,"AFR:.,AMR:.,EAS:.,FIN:.,NFE:.,OTH:.,ASJ:.",400041,NaN,NaN,26.09%,69.0,34
35647,chrY,24047308,24047308,G,A,NaN,hom,CDY1,NaN,NaN,...,.,.,.,"AFR:.,AMR:.,EAS:.,FIN:.,NFE:.,OTH:.,ASJ:.",400016,NaN,NaN,100%,71.0,41
35648,chrY,24047308,24047308,G,A,NaN,hom,CDY1B,NaN,NaN,...,.,.,.,"AFR:.,AMR:.,EAS:.,FIN:.,NFE:.,OTH:.,ASJ:.",.,NaN,NaN,100%,71.0,41
35649,chrY,25622823,25622823,C,T,NaN,hom,CDY1,NaN,NaN,...,.,.,.,"AFR:.,AMR:.,EAS:.,FIN:.,NFE:.,OTH:.,ASJ:.",400016,NaN,NaN,100%,56.0,41
35650,chrY,25622823,25622823,C,T,NaN,hom,CDY1B,NaN,NaN,...,.,.,.,"AFR:.,AMR:.,EAS:.,FIN:.,NFE:.,OTH:.,ASJ:.",.,NaN,NaN,100%,56.0,41

In [15]:
data_duo=pd.merge(data1,data2, on=['#Chr','Start','End','Ref','Alt'],how='outer',suffixes=('*'+string1,'*'+string2))

In [16]:
data_duo

,#Chr,Start,End,Ref,Alt,GATK_GT*1097347,VarScan GT*1097347,Ref.Gene*1097347,Feature_ID*1097347,HGVS*1097347,...,Interpro_domain*1097346,rmsk*1097346,MetaSVM_score*1097346,Freq_gnomAD_genome_POPs*1097346,OMIM*1097346,Phenotypes*1097346,Orpha*1097346,Varscan Freq*1097346,Varscan DP*1097346,Lab_Frequency*1097346
0,chr1,1043224,1043225,CT,-,het,het,AGRN,"NM_001305275.2,NM_198576.4,NM_001364727.2","c.1385-15_1385-14delCT,c.1385-15_1385-14delCT,...",...,.,.,.,"AFR:0.1058,AMR:0.6782,EAS:0.7662,FIN:0.5336,NF...",103320,"Myasthenic syndrome, congenital, 8, with pre- ...",590|Congenital myasthenic syndrome|1-9 / 1 000...,93.48%,46.0,196.0
1,chr1,1387764,1387765,CT,-,hom,hom,CCNL2,"NM_001039577.4,NM_030937.6,NM_001350497.1,NM_0...","c.*5017_*5018delAG,c.1211+12_1211+13delAG,c.54...",...,.,.,.,"AFR:0.2700,AMR:0.3918,EAS:0.0191,FIN:0.7160,NF...",613482,NaN,NaN,100%,71.0,220.0
2,chr1,1420962,1420964,TCC,-,het,het,ANKRD65,"NM_001145210.2,NM_001243535.2,NM_001243536.2","c.42_44delGGA,c.42_44delGGA,c.42_44delGGA",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,chr1,1629573,1629573,G,-,het,het,MIB2,"NM_006983.2,NR_002946.1,NM_080875.3,NM_0011706...","c.-2646delG,n.-3207delG,c.2737+12delG,c.2713+1...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,chr1,1708856,1708864,TCCTCCTCC,-,het,het,CDK11A,"NM_001313896.2,NM_001313982.2,NM_024011.4,NM_0...","c.942_950delGGAGGAGGA,c.930_938delGGAGGAGGA,c....",...,.,Name=(CTC)n,.,"AFR:0.0036,AMR:0,EAS:0,FIN:0,NFE:0.0029,OTH:0,...",116951,NaN,NaN,62.71%,63.0,243.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49944,chrY,22513968,22513968,T,C,NaN,NaN,NaN,NaN,NaN,...,.,.,.,"AFR:.,AMR:.,EAS:.,FIN:.,NFE:.,OTH:.,ASJ:.",400041,NaN,NaN,20.75%,53.0,35.0
49945,chrY,24047308,24047308,G,A,NaN,NaN,NaN,NaN,NaN,...,.,.,.,"AFR:.,AMR:.,EAS:.,FIN:.,NFE:.,OTH:.,ASJ:.",400016,NaN,NaN,100%,51.0,42.0
49946,chrY,24047308,24047308,G,A,NaN,NaN,NaN,NaN,NaN,...,.,.,.,"AFR:.,AMR:.,EAS:.,FIN:.,NFE:.,OTH:.,ASJ:.",.,NaN,NaN,100%,51.0,42.0
49947,chrY,25622823,25622823,C,T,NaN,NaN,NaN,NaN,NaN,...,.,.,.,"AFR:.,AMR:.,EAS:.,FIN:.,NFE:.,OTH:.,ASJ:.",400016,NaN,NaN,100%,71.0,42.0
49948,chrY,25622823,25622823,C,T,NaN,NaN,NaN,NaN,NaN,...,.,.,.,"AFR:.,AMR:.,EAS:.,FIN:.,NFE:.,OTH:.,ASJ:.",.,NaN,NaN,100%,71.0,42.0

In [17]:
data_trio=pd.merge(data_duo,data3,on=['#Chr','Start','End','Ref','Alt'],how='outer')

In [18]:
data_trio

,#Chr,Start,End,Ref,Alt,GATK_GT*1097347,VarScan GT*1097347,Ref.Gene*1097347,Feature_ID*1097347,HGVS*1097347,...,Interpro_domain*1087820,rmsk*1087820,MetaSVM_score*1087820,Freq_gnomAD_genome_POPs*1087820,OMIM*1087820,Phenotypes*1087820,Orpha*1087820,Varscan Freq*1087820,Varscan DP*1087820,Lab_Frequency*1087820
0,chr1,1043224,1043225,CT,-,het,het,AGRN,"NM_001305275.2,NM_198576.4,NM_001364727.2","c.1385-15_1385-14delCT,c.1385-15_1385-14delCT,...",...,.,.,.,"AFR:0.1058,AMR:0.6782,EAS:0.7662,FIN:0.5336,NF...",103320,"Myasthenic syndrome, congenital, 8, with pre- ...",590|Congenital myasthenic syndrome|1-9 / 1 000...,41.67%,72.0,195.0
1,chr1,1387764,1387765,CT,-,hom,hom,CCNL2,"NM_001039577.4,NM_030937.6,NM_001350497.1,NM_0...","c.*5017_*5018delAG,c.1211+12_1211+13delAG,c.54...",...,.,.,.,"AFR:0.2700,AMR:0.3918,EAS:0.0191,FIN:0.7160,NF...",613482,NaN,NaN,100%,87.0,219.0
2,chr1,1420962,1420964,TCC,-,het,het,ANKRD65,"NM_001145210.2,NM_001243535.2,NM_001243536.2","c.42_44delGGA,c.42_44delGGA,c.42_44delGGA",...,.,Name=(TCC)n,.,"AFR:0.0007,AMR:0,EAS:0,FIN:0,NFE:0.0017,OTH:0,...",.,NaN,NaN,36.7%,109.0,6.0
3,chr1,1629573,1629573,G,-,het,het,MIB2,"NM_006983.2,NR_002946.1,NM_080875.3,NM_0011706...","c.-2646delG,n.-3207delG,c.2737+12delG,c.2713+1...",...,.,.,.,"AFR:0.0665,AMR:0.1902,EAS:0.0752,FIN:0.3436,NF...",611141,NaN,NaN,47.06%,102.0,119.0
4,chr1,1708856,1708864,TCCTCCTCC,-,het,het,CDK11A,"NM_001313896.2,NM_001313982.2,NM_024011.4,NM_0...","c.942_950delGGAGGAGGA,c.930_938delGGAGGAGGA,c....",...,.,Name=(CTC)n,.,"AFR:0.0036,AMR:0,EAS:0,FIN:0,NFE:0.0029,OTH:0,...",116951,NaN,NaN,25.26%,95.0,242.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60898,chrX,120076917,120076917,A,G,NaN,NaN,NaN,NaN,NaN,...,Homeobox domain|Homeobox domain|Homeobox domai...,.,-0.626,"AFR:.,AMR:.,EAS:.,FIN:.,NFE:.,OTH:.,ASJ:.",300447,NaN,NaN,100%,8.0,17.0
60899,chrX,120076917,120076917,A,G,NaN,NaN,NaN,NaN,NaN,...,Homeobox domain|Homeobox domain|Homeobox domai...,.,-0.626,"AFR:.,AMR:.,EAS:.,FIN:.,NFE:.,OTH:.,ASJ:.",.,NaN,NaN,100%,8.0,17.0
60900,chrX,135829503,135829503,G,A,NaN,NaN,NaN,NaN,NaN,...,.,.,.,"AFR:.,AMR:.,EAS:.,FIN:.,NFE:.,OTH:.,ASJ:.",300796,NaN,NaN,100%,8.0,49.0
60901,chrX,135829503,135829503,G,A,NaN,NaN,NaN,NaN,NaN,...,.,.,.,"AFR:.,AMR:.,EAS:.,FIN:.,NFE:.,OTH:.,ASJ:.",300797,NaN,NaN,100%,8.0,49.0
60902,chrX,135829503,135829503,G,A,NaN,NaN,NaN,NaN,NaN,...,.,.,.,"AFR:.,AMR:.,EAS:.,FIN:.,NFE:.,OTH:.,ASJ:.",.,NaN,NaN,100%,8.0,49.0

In [19]:
col=sorted(data_trio.columns,key=lambda x: data1.columns.get_loc(x.split('*')[0]))

In [20]:
col

['#Chr',
 'Start',
 'End',
 'Ref',
 'Alt',
 'GATK_GT*1097347',
 'GATK_GT*1097346',
 'GATK_GT*1087820',
 'VarScan GT*1097347',
 'VarScan GT*1097346',
 'VarScan GT*1087820',
 'Ref.Gene*1097347',
 'Ref.Gene*1097346',
 'Ref.Gene*1087820',
 'Feature_ID*1097347',
 'Feature_ID*1097346',
 'Feature_ID*1087820',
 'HGVS*1097347',
 'HGVS*1097346',
 'HGVS*1087820',
 'Func.refGene*1097347',
 'Func.refGene*1097346',
 'Func.refGene*1087820',
 'ExonicFunc.refGene*1097347',
 'ExonicFunc.refGene*1097346',
 'ExonicFunc.refGene*1087820',
 'avsnp147*1097347',
 'avsnp147*1097346',
 'avsnp147*1087820',
 'AAChange.refGene*1097347',
 'AAChange.refGene*1097346',
 'AAChange.refGene*1087820',
 'clinvar: Clinvar*1097347',
 'clinvar: Clinvar*1097346',
 'clinvar: Clinvar*1087820',
 'InterVar: InterVar and Evidence*1097347',
 'InterVar: InterVar and Evidence*1097346',
 'InterVar: InterVar and Evidence*1087820',
 'Freq_gnomAD_genome_ALL*1097347',
 'Freq_gnomAD_genome_ALL*1097346',
 'Freq_gnomAD_genome_ALL*1087820',
 'Freq_esp6500siv2_all*1097347',
 'Freq_esp6500siv2_all*1097346',
 'Freq_esp6500siv2_all*1087820',
 'Freq_1000g2015aug_all*1097347',
 'Freq_1000g2015aug_all*1097346',
 'Freq_1000g2015aug_all*1087820',
 'CADD_raw*1097347',
 'CADD_raw*1097346',
 'CADD_raw*1087820',
 'CADD_phred*1097347',
 'CADD_phred*1097346',
 'CADD_phred*1087820',
 'SIFT_score*1097347',
 'SIFT_score*1097346',
 'SIFT_score*1087820',
 'GERP++_RS*1097347',
 'GERP++_RS*1097346',
 'GERP++_RS*1087820',
 'phyloP46way_placental*1097347',
 'phyloP46way_placental*1097346',
 'phyloP46way_placental*1087820',
 'dbscSNV_ADA_SCORE*1097347',
 'dbscSNV_ADA_SCORE*1097346',
 'dbscSNV_ADA_SCORE*1087820',
 'dbscSNV_RF_SCORE*1097347',
 'dbscSNV_RF_SCORE*1097346',
 'dbscSNV_RF_SCORE*1087820',
 'Interpro_domain*1097347',
 'Interpro_domain*1097346',
 'Interpro_domain*1087820',
 'rmsk*1097347',
 'rmsk*1097346',
 'rmsk*1087820',
 'MetaSVM_score*1097347',
 'MetaSVM_score*1097346',
 'MetaSVM_score*1087820',
 'Freq_gnomAD_genome_POPs*1097347',
 'Freq_gnomAD_genome_POPs*1097346',
 'Freq_gnomAD_genome_POPs*1087820',
 'OMIM*1097347',
 'OMIM*1097346',
 'OMIM*1087820',
 'Phenotypes*1097347',
 'Phenotypes*1097346',
 'Phenotypes*1087820',
 'Orpha*1097347',
 'Orpha*1097346',
 'Orpha*1087820',
 'Varscan Freq*1097347',
 'Varscan Freq*1097346',
 'Varscan Freq*1087820',
 'Varscan DP*1097347',
 'Varscan DP*1097346',
 'Varscan DP*1087820',
 'Lab_Frequency*1097347',
 'Lab_Frequency*1097346',
 'Lab_Frequency*1087820']

In [21]:
data_trio_update=data_trio[col]

In [24]:
data_trio_update

,#Chr,Start,End,Ref,Alt,GATK_GT_1097347,GATK_GT_1097346,GATK_GT_1087820,VarScan GT_1097347,VarScan GT_1097346,...,Orpha_1087820,Varscan Freq_1097347,Varscan Freq_1097346,Varscan Freq_1087820,Varscan DP_1097347,Varscan DP_1097346,Varscan DP_1087820,Lab_Frequency_1097347,Lab_Frequency_1097346,Lab_Frequency_1087820
0,chr1,1043224,1043225,CT,-,het,hom,het,het,hom,...,590|Congenital myasthenic syndrome|1-9 / 1 000...,48%,93.48%,41.67%,50.0,46.0,72.0,197.0,196.0,195.0
1,chr1,1387764,1387765,CT,-,hom,hom,hom,hom,hom,...,NaN,98.15%,100%,100%,54.0,71.0,87.0,221.0,220.0,219.0
2,chr1,1420962,1420964,TCC,-,het,NaN,het,het,NaN,...,NaN,44.44%,NaN,36.7%,73.0,NaN,109.0,7.0,NaN,6.0
3,chr1,1629573,1629573,G,-,het,NaN,het,het,NaN,...,NaN,42.62%,NaN,47.06%,61.0,NaN,102.0,120.0,NaN,119.0
4,chr1,1708856,1708864,TCCTCCTCC,-,het,hom,het,het,het,...,NaN,21.88%,62.71%,25.26%,64.0,63.0,95.0,244.0,243.0,242.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60898,chrX,120076917,120076917,A,G,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,100%,NaN,NaN,8.0,NaN,NaN,17.0
60899,chrX,120076917,120076917,A,G,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,100%,NaN,NaN,8.0,NaN,NaN,17.0
60900,chrX,135829503,135829503,G,A,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,100%,NaN,NaN,8.0,NaN,NaN,49.0
60901,chrX,135829503,135829503,G,A,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,100%,NaN,NaN,8.0,NaN,NaN,49.0
60902,chrX,135829503,135829503,G,A,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,100%,NaN,NaN,8.0,NaN,NaN,49.0

In [23]:
data_trio_update.columns= data_trio_update.columns.str.replace(r"*","_")

C:\Users\esra.bardakci\AppData\Local\Temp\ipykernel_5044\2340179185.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data_trio_update.columns= data_trio_update.columns.str.replace(r"*","_")

In [25]:
data_trio_update.columns

Index(['#Chr', 'Start', 'End', 'Ref', 'Alt', 'GATK_GT_1097347',
       'GATK_GT_1097346', 'GATK_GT_1087820', 'VarScan GT_1097347',
       'VarScan GT_1097346', 'VarScan GT_1087820', 'Ref.Gene_1097347',
       'Ref.Gene_1097346', 'Ref.Gene_1087820', 'Feature_ID_1097347',
       'Feature_ID_1097346', 'Feature_ID_1087820', 'HGVS_1097347',
       'HGVS_1097346', 'HGVS_1087820', 'Func.refGene_1097347',
       'Func.refGene_1097346', 'Func.refGene_1087820',
       'ExonicFunc.refGene_1097347', 'ExonicFunc.refGene_1097346',
       'ExonicFunc.refGene_1087820', 'avsnp147_1097347', 'avsnp147_1097346',
       'avsnp147_1087820', 'AAChange.refGene_1097347',
       'AAChange.refGene_1097346', 'AAChange.refGene_1087820',
       'clinvar: Clinvar_1097347', 'clinvar: Clinvar_1097346',
       'clinvar: Clinvar_1087820', 'InterVar: InterVar and Evidence_1097347',
       'InterVar: InterVar and Evidence_1097346',
       'InterVar: InterVar and Evidence_1087820',
       'Freq_gnomAD_genome_ALL_1097347', 'Freq_gnomAD_genome_ALL_1097346',
       'Freq_gnomAD_genome_ALL_1087820', 'Freq_esp6500siv2_all_1097347',
       'Freq_esp6500siv2_all_1097346', 'Freq_esp6500siv2_all_1087820',
       'Freq_1000g2015aug_all_1097347', 'Freq_1000g2015aug_all_1097346',
       'Freq_1000g2015aug_all_1087820', 'CADD_raw_1097347', 'CADD_raw_1097346',
       'CADD_raw_1087820', 'CADD_phred_1097347', 'CADD_phred_1097346',
       'CADD_phred_1087820', 'SIFT_score_1097347', 'SIFT_score_1097346',
       'SIFT_score_1087820', 'GERP++_RS_1097347', 'GERP++_RS_1097346',
       'GERP++_RS_1087820', 'phyloP46way_placental_1097347',
       'phyloP46way_placental_1097346', 'phyloP46way_placental_1087820',
       'dbscSNV_ADA_SCORE_1097347', 'dbscSNV_ADA_SCORE_1097346',
       'dbscSNV_ADA_SCORE_1087820', 'dbscSNV_RF_SCORE_1097347',
       'dbscSNV_RF_SCORE_1097346', 'dbscSNV_RF_SCORE_1087820',
       'Interpro_domain_1097347', 'Interpro_domain_1097346',
       'Interpro_domain_1087820', 'rmsk_1097347', 'rmsk_1097346',
       'rmsk_1087820', 'MetaSVM_score_1097347', 'MetaSVM_score_1097346',
       'MetaSVM_score_1087820', 'Freq_gnomAD_genome_POPs_1097347',
       'Freq_gnomAD_genome_POPs_1097346', 'Freq_gnomAD_genome_POPs_1087820',
       'OMIM_1097347', 'OMIM_1097346', 'OMIM_1087820', 'Phenotypes_1097347',
       'Phenotypes_1097346', 'Phenotypes_1087820', 'Orpha_1097347',
       'Orpha_1097346', 'Orpha_1087820', 'Varscan Freq_1097347',
       'Varscan Freq_1097346', 'Varscan Freq_1087820', 'Varscan DP_1097347',
       'Varscan DP_1097346', 'Varscan DP_1087820', 'Lab_Frequency_1097347',
       'Lab_Frequency_1097346', 'Lab_Frequency_1087820'],
      dtype='object')

In [26]:
data_trio_update = data_trio_update.drop(['Freq_gnomAD_genome_ALL_1097347', 'Freq_gnomAD_genome_ALL_1097346',
       'Freq_gnomAD_genome_ALL_1087820','Freq_esp6500siv2_all_1097347',
       'Freq_esp6500siv2_all_1097346', 'Freq_esp6500siv2_all_1087820',
       'Freq_1000g2015aug_all_1097347', 'Freq_1000g2015aug_all_1097346',
       'Freq_1000g2015aug_all_1087820','Varscan Freq_1097346', 'Varscan Freq_1087820', 'Varscan DP_1097347',
       'Varscan DP_1097346', 'Varscan DP_1087820','SIFT_score_1097347', 'SIFT_score_1097346',
       'SIFT_score_1087820', 'GERP++_RS_1097347', 'GERP++_RS_1097346',
       'GERP++_RS_1087820', 'phyloP46way_placental_1097347',
       'phyloP46way_placental_1097346', 'phyloP46way_placental_1087820',
       'dbscSNV_ADA_SCORE_1097347', 'dbscSNV_ADA_SCORE_1097346',
       'dbscSNV_ADA_SCORE_1087820','Interpro_domain_1097347', 'Interpro_domain_1097346',
       'Interpro_domain_1087820', 'rmsk_1097347', 'rmsk_1097346',
       'rmsk_1087820', 'MetaSVM_score_1097347', 'MetaSVM_score_1097346',
       'MetaSVM_score_1087820', 'Freq_gnomAD_genome_POPs_1097347',
       'Freq_gnomAD_genome_POPs_1097346', 'Freq_gnomAD_genome_POPs_1087820','dbscSNV_RF_SCORE_1097347',
       'dbscSNV_RF_SCORE_1097346', 'dbscSNV_RF_SCORE_1087820'], axis=1)

In [27]:
data_trio_update

,#Chr,Start,End,Ref,Alt,GATK_GT_1097347,GATK_GT_1097346,GATK_GT_1087820,VarScan GT_1097347,VarScan GT_1097346,...,Phenotypes_1097347,Phenotypes_1097346,Phenotypes_1087820,Orpha_1097347,Orpha_1097346,Orpha_1087820,Varscan Freq_1097347,Lab_Frequency_1097347,Lab_Frequency_1097346,Lab_Frequency_1087820
0,chr1,1043224,1043225,CT,-,het,hom,het,het,hom,...,"Myasthenic syndrome, congenital, 8, with pre- ...","Myasthenic syndrome, congenital, 8, with pre- ...","Myasthenic syndrome, congenital, 8, with pre- ...",590|Congenital myasthenic syndrome|1-9 / 1 000...,590|Congenital myasthenic syndrome|1-9 / 1 000...,590|Congenital myasthenic syndrome|1-9 / 1 000...,48%,197.0,196.0,195.0
1,chr1,1387764,1387765,CT,-,hom,hom,hom,hom,hom,...,NaN,NaN,NaN,NaN,NaN,NaN,98.15%,221.0,220.0,219.0
2,chr1,1420962,1420964,TCC,-,het,NaN,het,het,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,44.44%,7.0,NaN,6.0
3,chr1,1629573,1629573,G,-,het,NaN,het,het,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,42.62%,120.0,NaN,119.0
4,chr1,1708856,1708864,TCCTCCTCC,-,het,hom,het,het,het,...,NaN,NaN,NaN,NaN,NaN,NaN,21.88%,244.0,243.0,242.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60898,chrX,120076917,120076917,A,G,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0
60899,chrX,120076917,120076917,A,G,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0
60900,chrX,135829503,135829503,G,A,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0
60901,chrX,135829503,135829503,G,A,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0
60902,chrX,135829503,135829503,G,A,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0

In [28]:
data_trio_update.to_excel("Polats_temp.xlsx")